# tests/.env
NOCODB_API_KEY=your_api_key_here
NOCODB_BASE_URL=http://localhost:8080
NOCODB_PROJECT_NAME=your_workspace_name
NOCODB_TABLE_NAME=your_project_name

NOCODB_CLOUD_API_KEY=your_api_key_here
NOCODB_CLOUD_BASE_URL=https://app.nocodb.com
NOCODB_CLOUD_WORKSPACE_NAME=your_workspace_name
NOCODB_CLOUD_PROJECT_NAME=your_project_name
NOCODB_CLOUD_TABLE_NAME=your_table_name
